div{
    font-family: Arial;
}

.container{
    border-width: 1px;
    border-radius: 3px;
    border-style: none;
    border-color: rgb(200, 200, 200);
    box-shadow: 0px 0px 4px rgba(0,0,0,.5);
    padding: 10px 15px;
    width: 305px;
}

.email-inbox{
    font-size: 11px;
    color: grey;
}

.email{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.email:hover{
    box-shadow: 1px 2px 10px rgba(0,0,0,0.5);
}

.sender-picture-container{
    margin-right: 10px;
}

.sender-picture{
    width: 40px;
    border-radius: 20px;
}

.email-content{
    flex: 1;
}

.email-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
}

.sender-name{
    font-size: 16px;
    font-weight: bold;
}

.send-time{
    font-size: 12px;
    color: grey;
}

.email-subject{
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 3px;
}

.email-message{
    font-size: 12px;
    color: grey;
}
