body{
    height: 3000px;
}
div{
    font-family: Arial;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 5px 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: grey;
}

.left-section{
    display: flex;
    align-items: center;
}

.user-picture{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 20px;
    margin-right: 6px;

}

.user-name{
    font-size: 14px;
    font-weight: bold;
}

.right-section{
    display: flex;
    align-items: center;
}

.add-button{
    background-color: rgb(10, 96, 224);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 7px 12px;
    font-size: 10px;
    font-weight: bold;
    margin-right: 5px;
    cursor: pointer;
}

.message-button{
    border: none;
    border-radius: 5px;
    padding: 7px 14px;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
}