/*------General------*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(26, 25, 25);
    color: white;
}

section{
    padding: 50px 100px;
}

.container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    width: 100%;
}


/*--------Header-----*/
header {
    position: relative;
    padding: 10px 5%;
    padding-bottom: 150px;
}

header::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-image: url(/imgs/replicate-prediction-slubty6tfng7tco6exa5lbnxnu.png);
    background-size: cover;
    background-position: center;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    display: flex;
    align-items: center;
}

.logo i{
    margin-right: 10px;
}

.logo a{
    text-decoration: none;
    color: white;
    font-size: 50px;
    font-weight: 600;
}

.logo span{
    color: rgb(39, 108, 211);
}

.navbar i{
    font-size: 60px;
    color: rgb(39, 108, 211);
}

.navbar ul{
    display: flex;
    list-style: none;
}

.navbar ul li{
    margin-right: 30px;
}

.navbar ul li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    position: relative;
}

.navbar ul li a::after{
    content: '';
    background-color: rgb(39, 108, 211);
    width: 0;
    height: 3px;
    bottom: -6px;
    left: 0;
    position: absolute;
    transition: width 0.5s;
}

.navbar ul li a:hover::after{
    width: 100%;
}

.about{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about h1{
    background: linear-gradient(to right , #acd6f1, rgb(39,108,211));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;   
    margin-bottom: 20px;
    font-size: 80px;
    letter-spacing: -4px;
    text-align: center;
}

.about h2{
    position: relative;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin: 0 20%;
    color: rgb(172, 171, 171);   
    margin-bottom: 50px;
}

.about h2::after{
    content: '';
    position: absolute;
    left: 42.5%;
    bottom: -10px;
    height: 4px;
    width: 15%;
    background-color: white
}

.about button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: rgb(39, 108, 211);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.about button i{
    font-size: 30px;
}

.about button div{
    margin-left: 10px;
    font-size: 20px;
}

/*--------Features---------*/
.features-title{
    font-size: 50px;
}

.features-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: 30px;
    grid-gap: 40px;
}

.feature-item{
    display: flex;
    width: 100%;
    align-items: center;
    background-color: rgb(88, 85, 85);
    padding: 40px 10px;
    border-radius: 30px;
    transition: background-color, transform 0.5s;
}

.feature-item:hover{
    background-color: rgb(39, 108, 211);
    transform: scale(1.15);
}

.feature-item i{
    color: rgb(39, 108, 211);
    font-size: 60px;
    transition: color 0.5s;
}

.feature-item:hover i{
    color: white;    
}

.feature-item div{
    margin-left: 10px;
}

.feature-item div h2{
    margin-bottom: 10px;
}

.feature-item div p{
    line-height: 25px;
}

/*-------Try-Now---------*/
.try-now-container{
    
}

.try-now-container h1, .try-now-container h2{
    text-align: center;
}

.try-now-container h2{
    color: grey;
    font-size: 25px;
    margin-bottom: 35px;
}
.role-row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 600px));
    justify-content: center;
    grid-gap: 60px;
}

.role{
    border-radius: 40px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.7s;
}

.role img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.role:active{

}

.role:hover{
    transform: scale(1.1);
}

.layer{
    position: absolute;
    background: linear-gradient(rgba(0,0,0,0.6),rgb(39,108,211));
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    bottom: -100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: end;
    padding-bottom: 20px;
    transition: transform 0.7s
}

.role:hover .layer{
    transform: translateY(-100%);
}

.layer h3{
    font-size: 50px;
}

.layer p{
    text-align: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
    width: 80%;
}


/*----------Creator--------*/
.creator-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.creator-col1{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 33%;
}

.creator-col1 img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: fill;
    margin-bottom: 10px;
}

.creator-col1 p{
    margin-bottom: 10px;
    font-size: 25px;
}

.creator-col1 div i{
    margin-right: 15px;
    font-size: 35px;
    color: rgb(39, 108, 211);
}

.creator-col2{
    margin-left: 10px;
    flex-basis: 66%;
}

.title{
    font-size: 60px;
}

.creator-col2 p{
    font-size: 25px;
    line-height: 35px;
}
