p{
    font-family: Montserrat;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 7px;
}

.span1{
    text-decoration: underline;
}